* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffff;
}

.navbar img {
  width: 3em;
  height: 3em;
}

.navbar-toggler {
  border-color: #ffffff !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.loader {
  width: 30% !important;
}

.loader:after {
  content: "";
  font-weight: 600;
  font-size: 40px;
  color: #f58a07;
  animation-name: animatingtext;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  text-shadow: 0 0 5px rgba(243, 138, 57, 0.8), 0 0 10px rgba(243, 138, 57, 0.6),
    0 0 15px rgba(243, 138, 57, 0.4), 0 0 20px rgba(243, 138, 57, 0.2);
}

@keyframes animatingtext {
  0% {
    content: " R  ";
    text-shadow: 0 0 5px rgba(243, 138, 57, 0.8),
      0 0 10px rgba(243, 138, 57, 0.6), 0 0 15px rgba(243, 138, 57, 0.4),
      0 0 20px rgba(243, 138, 57, 0.2);
  }
  20% {
    content: " Ro  ";
  }
  40% {
    content: " Rom  ";
  }
  60% {
    content: " Romin  ";
  }
  100% {
    content: " Romina   ";
  }
}

#hero img {
  width: 24em;
  height: 15em;
}

#hero {
  border: 3px solid #2f4472;
  border-radius: 1em;
}

#note {
  background-color: #2f4472;
  border-radius: 1em;
}

.text-justified {
  text-align: justify;
}

#photos {
  border: 3px solid #2f4472;
  border-radius: 1em;
}

/* *** *** Responsive *** *** */
@media (max-width: 768px) {
  /* Estilos para tabletas y móviles */
}

@media (max-width: 576px) {
  /* Estilos para dispositivos móviles */
  .navbar img {
    width: 2em;
    height: 2em;
  }
  .navbar-brand {
    margin-right: 0 !important;
  }

  .navbar-toggler {
    padding: 0.25em;
  }

  .loader:after {
    font-size: 30px;
  }

  .loader h2 {
    margin-top: 0.5em !important;
  }

  #hero img {
    width: 24em;
    height: 10em;
  }

  #note {
    height: auto;
  }

  #note h1 {
    font-size: 1.3em !important;
    margin: 0 !important;
    padding: 0.25em 0 0.15em 0 !important;
  }

  #note h2 {
    font-size: 1em !important;
    margin: 0 !important;
    padding: 0.25em 0 0.15em 0 !important;
  }

  #note p {
    font-size: 0.8em !important;
  }
}
